@{
    ViewData["Title"] = "Innova Audiovisual";
}
<h1>@ViewData["Title"]</h1>

<img src="https://efectocomunicacion.com/wp-content/uploads/2018/06/marketing-audiovisual-1030x446.jpg" class="img-fluid" alt="Responsive image">

<center><h1>NOSOTROS</h1></center>
<br>

<center>
<table class="default">
  <tr>
    <td td width="50%" bgcolor="White"><center><h3> Somos un estudio audiovisual dedicado a <br>
        producir y post producir videos y canciones.<br>
         Asimismo realizamos sesiones de fotos tanto<br>
          para personas naturales como para empresas y <br>
          su imagen corporativa.<br>
           Tambien realizamos streaming o transmisiones<br>
            de eventos que tu requieras.<br>
             La eficiencia y eficacia con las que <br>
             desenvolvemos cada proyecto audiovisual nos <br>
             ha permitido servir trabajar con grandes marcas.<br><br></h3>
          </td>
          </center>
</center>

