@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="media-container-row">
        <div class="mbr-text col-12 col-md-8 mbr-fonts-style display-7">
            <strong>Nosotros somos una empresa joven que produce y vende .... </strong>
            <br/><br/>
            <img src="/images/foto1.jpg" class="img-fluid" alt="Frutos Secos">
        </div>
    </div>
</div>

