@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <i> <h1 class="display-4" >INNOVA AUDIOVISUAL</h1></i> 
</div>

    <center>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdqJcgU93VVVJPZ67GOaM12608EheoHgC-SA&usqp=CAU" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://innovacioneducativa.upc.edu.pe/wp-content/uploads/2020/06/shutterstock_773226046-1170x532.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://www.ucreativa.com/wp-content/uploads/produccion-audiovisual-ucreativa-1024x576.jpg " alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</center>

<br>
<center><h1>INNOVA AUDIOVISUAL</h1></center>

<center><i><h2>Somos un estudio audiovisual donde realizamos: sesiones de fotos, producción
    y post-produccion de audio y video.</h2> </i></center><br>

<center><h1>NUESTROS SERVICIOS</h1></center>


<div align="center">
<center>
<table border="0" cellpadding="25" cellspacing="" width="100">
<tr>
<td>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="http://compras.cuponidad.pe/images/Deals/amarelo-pro.jpg" alt="Card image cap">
  <div class="card-body">
    <center><i><p class="card-text " >SESIONES DE FOTOS PROFESIONALES </p></i></center>
  </div>
</div>
</td>
<br>
<td>
    <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRukqaqM5dSNbFhPwS3iX3qC78L_ViNVYiI8w&usqp=CAU" alt="Card image cap">
  <div class="card-body">
  <center><i><p class="card-text " >PRODUCCION DE VIDEOS PROFESIONALES </p></i></center>
  </div></td>
<td><div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://ideasparafotos.com/wp-content/uploads/2021/06/ideas-para-sesiones-de-fotos.jpg" alt="Card image cap">
  <div class="card-body">
    <center><i><p class="card-text " >POST-PRODUCCIÓN DE FOTOS, AUDIOS Y VIDEOS </p></i></center>
  </div>
</div></td>

<tr>
<td>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://xegmenta.com/wp-content/uploads/2019/09/banner-streaming-opt.jpg" alt="Card image cap">
  <div class="card-body">
     <center><i><p class="card-text " >TRANSMISION EN VIVO DE EVENTOS </p></i></center>
  </div>
</div>
</td>
<br>
<td>
    <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9Y5yJxuizYXSSzpj3Sx2D7Eq5fgFWMUOHrD9PblvAFd7InvaqhthNoqrGHxw9YIzL9h8&usqp=CAU" alt="Card image cap">
  <div class="card-body">
       <center><i><p class="card-text " >SESIONES DE FOTOS COORPORATIVAS</p></i></center>
  </div></td>
</div></td>
</tr>
</tr>
</table>
</center>
</div>

<table class="default">

  <tr>
    <td>
        <left><i><h3 style="color: red;">REDES SOCIALES</h3></i></left>    
<div class="iconos-sociales">
<a href="" target="_blank"><img loading="lazy" alt="Sígueme en Facebook" height="70" width="70" src=" https://cdn.icon-icons.com/icons2/1826/PNG/512/4202110facebooklogosocialsocialmedia-115707_115594.png" title="Sígueme en Facebook"/></a>

<a href="" target="_blank"><img loading="lazy" alt="Sígueme en Instagram" height="70" width="70" src="https://cdn.icon-icons.com/icons2/836/PNG/512/Instagram_icon-icons.com_66804.png" title="Sígueme en Instagram"/></a>

<a href="" target="_blank"><img loading="lazy" alt="Sígueme en WhatsApp" height="70" width="70" src=" https://cdn.icon-icons.com/icons2/99/PNG/512/whatsapp_socialnetwork_17360.png" title="Sígueme en WhatsApp"/></a>

<a href="" target="_blank"><img loading="lazy" alt="Sígueme en WhatsApp" height="70" width="70" src="https://cdn.icon-icons.com/icons2/2108/PNG/512/telegram_icon_130816.png" title="Sígueme en WhatsApp"/></a>
</div>
    </td>

    <td>
       <center><i><h3 style="color: red;">NUESTRO E-MAIL</h3></i></center>    
        <br>    
    <h3>
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Sobre nuestros servicios

    </h3>
<h3>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; innovaaudiovisual@gmail.com
</h3>
    </td>

<td>
    <center><p align="right"> <button type="button" class="btn btn-dark">CONSULTAS</button> </p></center>
    
    </td>
</table>
